@import "tailwindcss";

@theme {
  --color-primary: #15803d; /* green-700 */
  --color-secondary: #064e3b; /* emerald-900 */
  --color-accent: #dcfce7; /* green-100 */

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-sans);
  background-color: #fafaf9; /* stone-50 */
  color: #1c1917; /* stone-900 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
